---

---
<style>
    .semi-border {
        --b: 1px; /* border thickness */
        --c: rgba(0,0,0,0.2); /* border color */
        --r: 6rem; /* border radius */
        --corner-size: 100px; /* size of visible corners */

        position: relative;
        padding: 1rem;
        border-radius: var(--r);
        background: white;
        z-index: 0;
    }

    /* shared corner-border base style */
    .corner-border {
        position: absolute;
        inset: 0;
        border-style: solid;
        border-color: var(--c);
        border-radius: var(--r);
        pointer-events: none;
        z-index: 1;

        /* fallback for Safari/WebKit */
        -webkit-mask: none;
        -webkit-mask-composite: source-over;
        mask-composite: add;

    }

    /* Top-right corner only */
    .corner-border.top-right {
        -webkit-mask:
                linear-gradient(#000 0 0) top right / var(--corner-size) var(--corner-size) no-repeat;
    }

    /* Bottom-left corner only */
    .corner-border.bottom-left {
        -webkit-mask:
                linear-gradient(#000 0 0) bottom left / var(--corner-size) var(--corner-size) no-repeat;
    }


</style>

<script type="text/javascript">
  function timer() {
    return {
      expiry: new Date(1754130600000),
      remaining:null,
      init() {
        this.setRemaining()
        setInterval(() => {
          this.setRemaining();
        }, 1000);
      },
      setRemaining() {
        const diff = this.expiry - new Date().getTime();
        this.remaining = parseInt(diff / 1000);
      },
      days() {
        console.log("D",this.remaining / 86400)
        return {
          value:this.remaining / 86400,
          remaining:this.remaining % 86400
        };
      },
      hours() {
        return {
          value:this.days().remaining / 3600,
          remaining:this.days().remaining % 3600
        };
      },
      minutes() {
        return {
          value:this.hours().remaining / 60,
          remaining:this.hours().remaining % 60
        };
      },
      seconds() {
        return {
          value:this.minutes().remaining,
        };
      },
      format(value) {
        return ("0" + parseInt(value)).slice(-2)
      },
      time(){
        return {
          days:this.format(this.days().value),
          hours:this.format(this.hours().value),
          minutes:this.format(this.minutes().value),
          seconds:this.format(this.seconds().value),
        }
      },
    }
  }
</script>


  <div class="relative max-w-3xl -top-24 px-5 -mb-48  mx-auto p-[1rem] rounded-xl rounded-tr-[7rem] rounded-bl-[7rem] bg-white">

    <div class="relative flex flex-col gap-8 items-center justify-center mx-auto semi-border pb-16 pt-12 px-8">
<div class="corner-border top-right border-0 sm:border"></div>
<div class="corner-border bottom-left  border-0 sm:border"></div>
<h2 class="text-2xl sm:text-4xl tracking-wide">Své  ano  si  řekneme  už  za</h2>
<div class="grid auto-cols-max grid-flow-col gap-2 sm:gap-3 md:gap-6 text-center" x-data="timer()" x-init="init();">
<div class="border border-base-300 rounded-box text-content flex flex-col p-4 justify-center">
<span class="countdown font-serif text-3xl sm:text-5xl text-center items-center flex justify-center">
<span :style="`--value: ${time().days};`" aria-live="polite">15</span>
</span>
dní
</div>
<div class="border border-base-300 rounded-box text-content flex flex-col p-4 justify-center">
<span class="countdown font-serif text-3xl sm:text-5xl text-center items-center flex justify-center">
<span :style="`--value: ${time().hours};`" aria-live="polite">10</span>
</span>
hodin
</div>
<div class="border border-base-300 rounded-box text-content flex flex-col p-4 justify-center">
<span class="countdown font-serif text-3xl sm:text-5xl text-center items-center flex justify-center">
<span :style="`--value: ${time().minutes};`" aria-live="polite">24</span>
</span>
minut
</div>
<div class="border border-base-300 rounded-box text-content flex flex-col p-4 justify-center">
<span class="countdown font-serif text-3xl sm:text-5xl text-center items-center flex justify-center">
<span :style="`--value: ${time().seconds};`" aria-live="polite"></span>
</span>
sekund
</div>
</div>

<div class=" mx-auto tracking-wide text-xl sm:text-3xl">2. srpna 2024 | 12:30</div>
    </div>

  </div>

