---
---
<section class="bg-primary relative">
  <img class="h-screen w-full object-cover" src="cover.jpg" alt="" />
  <div class="absolute inset-0 pt-24 flex flex-col justify-start gap-6 items-center">
       <img class="w-56 mb-4" src="logo_full_2.svg" />
    <div class="italic mt-8">Vítáme Vás na svatebním webu <span class="font-semibold">Marka</span> a <span class="font-semibold">Marie</span></div>
  </div>
</section>