---
---
<section class="bg-primary relative overflow-hidden">
  <img class="h-screen w-full object-cover object-right sm:object-bottom" src="test.jpg" alt="" />
  <div class="absolute inset-0 pt-24 flex flex-col justify-start items-center">
      <div class="relative mb-4 max-w-42 sm:max-w-56">
        <div class="absolute aspect-square rounded-full bg-white/30 blur-2xl -inset-35"></div>
        <img class="relative z-10 w-56 mb-2 sm:mb-6 2xl:mb-2" src="logo_full_2.svg" />
      </div>

    <div class="z-10 italic -mt-4 sm:mt-52 2xl:mt-2 text-lg font-semibold text-center p-2">Vítáme Vás na svatebním webu <span class="font-bold">Marka</span> a <span class="font-bold">Maru</span></div>
  </div>
</section>