---
import Container from "@components/elements/Container.astro";
import { Icon } from "astro-icon/components";
---

<Container
  id="nav-container"
  class:list={"!p-0 !m-0 !max-w-screen fixed top-0 left-0 right-0 z-40 mt-6"}
>
  <nav x-data="{ open: false }" class="transition duration-1000 py-2" :class="{'bg-white shadow-md text-primary': scrolled}" @scroll.window="scrolled = (window.pageYOffset < 150) ? false: true">
    <div class="container mx-auto flex justify-between items-center px-4">


      <a href="/" class="text-2xl flex">
        <img class="w-14 h-14 opacity-0 transition duration-800" :class="{'opacity-100 delay-100': scrolled}" src="logo_full_2.svg" />
      </a>

      <!-- Hamburger Menu -->
      <button @click="open = !open" class="md:hidden text-gray-950 focus:outline-none" aria-label="Open Menu">
        <Icon class="w-7 h-7 hover:text-primary-light pt-0.5" name="nav" />
      </button>

      <!-- Desktop Menu -->
      <ul class="hidden md:flex text-lg font-medium gap-6 menu menu-horizontal text-base-content">
        <li><a href="#" class="hover:text-amber-700 hover:bg-white/60 transition duration-300" :class="{'scale-120': !scrolled}">Úvod</a></li>
        <li><a href="#ceremony" class="hover:text-amber-700 hover:bg-white/60 transition duration-300" :class="{'scale-120': !scrolled}">Obřad</a></li>
        <li><a href="#palette" class="hover:text-amber-700 hover:bg-white/60 transition duration-300" :class="{'scale-120': !scrolled}">Paleta</a></li>
        <li><a href="#program" class="hover:text-amber-700 hover:bg-white/60 transition duration-300" :class="{'scale-120': !scrolled}">Program</a></li>
        <li><a href="#foto" class="hover:text-amber-700 hover:bg-white/60 transition duration-300" :class="{'scale-120': !scrolled}">Fotogalerie</a></li>
      </ul>
    </div>


    <!-- Mobile Menu Fullscreen -->
    <div
      x-show="open"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-90"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="opacity-90"
      x-transition:leave-end="opacity-0"
      class="fixed inset-0 bg-white flex flex-col items-center justify-center space-y-6 z-50">

      <img class="w-24 h-24 mb-24" src="logo_full_2.svg" />
      <!-- Close Button -->
      <button
        @click="open = false"
        class="absolute top-6 right-6 text-4xl text-gray-800 hover:text-amber-900 focus:outline-none"
        aria-label="Close menue">
        &times;
      </button>

      <a @click="open = false" href="#" class="text-2xl hover:text-amber-900">Domů</a>
      <a @click="open = false" href="#ceremony" class="text-2xl hover:text-amber-900">O obřadu</a>
      <a @click="open = false" href="#palette" class="text-2xl hover:text-amber-900">Barevná paleta</a>
      <a @click="open = false" href="#program" class="text-2xl hover:text-amber-900">Program dne</a>
      <a @click="open = false" href="#photo" class="text-2xl hover:text-amber-900">Fotogalerie</a>
    </div>
  </nav>
</Container>
